# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# 文件夹
/build
/main/build
.vscode
main/build/log/idf_py_stderr_output_265492
main/build/log/idf_py_stderr_output_265669
main/build/log/idf_py_stderr_output_265775
main/build/log/idf_py_stdout_output_265492
main/build/log/idf_py_stdout_output_265669
main/build/log/idf_py_stdout_output_265775
managed_components